body{
    margin: 0rem;
    background-image: url(../img/space.gif);
    font-family: "Segoe UI", Tahoma, Helvetica, Sans-Serif, serif;
    font-style: normal;
    font-size: 14px;
    color: gray;
}
#root{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.app{
    width: 100%;
    text-align: center;
}